@import "tailwindcss"; 


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



@keyframes marquee {
  0% {
    transform: translateX(100%);
    opacity: 0;
  } 10% {
    opacity: 1;
  } 
   
  100% {
    transform: translateX(0%);
  }
}

.marquee {
  animation: marquee 5s linear infinite;
  white-space: nowrap;
  display: flex;
}

